/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*.body {font-size: 1.25em}

.buffer-top {
   margin-top: 0em;
 
}

.task1 {
margin-bottom: 0.5em;

 
}

.priority_1 {color: #f70000}
.priority_2 {color: #f4c804}
.priority_3 {color: #0ad188}
.completed_true .title{color: #c0c0c0; text-decoration: line-through}

.done {
	margin-left: 3px;
	}

.completed_true .done {display: none}*/